root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2
max_line_length = off

[*.{js,jsx,ts,tsx,mjs,cjs,mts,cts}]
indent_style = space
indent_size = 2
[*.{json,json5,jsonc,jsonl}]
indent_style = space
indent_size = 2

[*.{yml,yaml}]
indent_style = space
indent_size = 2

[*.{md,markdown,mdx}]
trim_trailing_whitespace = false
indent_size = 2

[*.sh]
indent_style = space
indent_size = 2

[Dockerfile]
indent_style = space
indent_size = 2

[Makefile]
indent_style = tab
indent_size = 4

[*.{patch,diff}]
indent_style = space
indent_size = 2
trim_trailing_whitespace = false

[*.{txt,log}]
indent_style = space
indent_size = 2

[*.{html,xml}]
indent_style = space
indent_size = 2

[*.{license,licence}]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = false

